
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10vw 0;
}
.firstSection >div{
    width: 30%;
}
.leftSection{
    font-size: 4vw; 
}

.me1{
   height: 40vw;
   border-radius: 5vw;
   border: solid;
   border-width: 1vw;
   border-color: white;
}
.purple{
    color: rgb(161, 106, 209);
}