
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}
.firstSection >div{
    width: 30%;
}
.leftSection{
    font-size: 40px; 
}

.me1{
   height: 600px;
   border-radius: 50px;
   border: solid;
   border-width: 5px;
   border-color: white;
}
.purple{
    color: rgb(161, 106, 209);
}