.thirdSection{
    max-width: 80vw;
    margin: auto;
    height: 500px;
}

.tech-skills-heading {
    font-size: 30px;
    text-align: center; /* Center horizontally */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.skills-icons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}
.skills-icons img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
    .skills-icons {
        grid-template-columns: repeat(3, 1fr);
    }
}